body{
    background-color: #0B2B40;
}

.signUp{
    border-radius: 15px;
    background-color: #30A5BF;
    height: 50%;
    width: 50%;
    margin: auto;
}

.inputForm{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,.4);
    border: 0;
}

.signUpForm{
    margin: auto;
    padding: 10%;
    margin: 10px 0;   
}

.signUpButton{
    background-color: red;
    position: absolute;
    border: none;
}