body{
    background-color: black;
    background-image: url(images/2.jpeg);
}

.signUp{
    background-image: url("images/1.webp");
    border-radius: 15px;
    background-color: white;
    height: 50%;
    width: 50%;
    margin: auto;
}

.inputForm{
    width: 84.5%;
    padding: 10px;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,.4);
    border: 0;
}

.signUpForm{
    margin: auto;
    padding: 10%;
    margin: 10px 0;   
}

.signUpButton{
    padding: 1%;
    color: white;
    font-size: 20px;
    background-color: black;
    position: absolute;
    border: none;
    border-radius: 10px;
}